@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme */
  --primary: hsl(240, 4%, 100%);
  --secondary: hsl(240, 4%, 80%);
  --tertiary: hsl(240, 5%, 52.4%);
  --background: hsl(240, 4%, 10%);
  --background-opaque: hsl(240, 4%, 10%, 96%);
  --accent: hsl(160, 84%, 39%);

  /* Technologies */
  --astro: theme(colors.orange.300);
  --cloudinary: theme(colors.indigo.300);
  --css: theme(colors.cyan.300);
  --ejs: theme(colors.lime.300);
  --express: theme(colors.slate.300);
  --javascript: theme(colors.yellow.300);
  --mdx: theme(colors.yellow.300);
  --mongodb: theme(colors.green.300);
  --mongoose: theme(colors.red.300);
  --netlify: theme(colors.teal.300);
  --nextjs: theme(colors.zinc.300);
  --passport: theme(colors.lime.300);
  --nodejs: theme(colors.green.300);
  --preact: theme(colors.purple.300);
  --railway: theme(colors.slate.300);
  --react: theme(colors.teal.300);
  --tailwind: theme(colors.cyan.300);
  --typescript: theme(colors.blue.300);
  --vercel: theme(colors.gray.300);

  scroll-behavior: smooth;
}

body {
  background: var(--background);
}

.outside-padding {
  position: relative;
  transition: background-color 0.3s;
}

.outside-padding::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: #f2f2f308;
  border-radius: 0.375rem;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.outside-padding:hover {
  color: var(--primary);
}

.outside-padding::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 80%;
  height: 1px;
  background-color: var(--accent);
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.outside-padding.active::after,
.outside-padding:hover::before {
  opacity: 1;
}

.outside-padding-cover {
  position: relative;
}

.outside-padding-cover::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  right: -35px;
  bottom: 0%;
}

.opaque::before {
  background: var(--background-opaque);
}

.gradient::before {
  background: linear-gradient(var(--background-opaque), transparent);
}

pre > code {
  background: "none";
  border: none;
}
